In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

print("Libraries loaded successfully!")

Libraries loaded successfully!

In [3]:
# Load raw CSV
df_raw = pd.read_csv('..\data\dataset.csv', encoding='latin-1')

print(f"Shape: {df_raw.shape}")
print(f"\nFirst 10 rows:")
df_raw.head(10)

Shape: (36, 118)

First 10 rows:

,"Rata?Rata Pengeluaran per Kapita Sebulan di Daerah Perdesaan Menurut Kelompok Barang dan Golongan Pengeluaran per Kapita Sebulan, 2013-2025",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kelompok Barang,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita,Golongan Pengeluaran per Kapita Sebulan (rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rata?Rata per Kapita
3,NaN,Kurang dari 100 000,100 000- 149 999,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000 dan lebih,NaN,Kurang dari 100 000,100 000- 149 999,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000 dan lebih,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN,< 150 000,150 000- 199 999,200 000- 299 999,300 000- 499 999,500 000- 749 999,750 000- 999 999,1 000 000- 1 499 999,> 1 500 000,NaN
4,Makanan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Padi-padian,29 722,43 372,47 289,52 588,59 869,70 880,77 894,77 337,62 449,25 714,39 146,46 376,53 929,62 374,72 999,77 956,78 774,66 376,35 364,46 338,55 830,68 305,76 896,86 921,93 386,107 680,75 260,"21,369","42,515","52,212","61,282","73,432","80,901","86,707","95,444","71,390","36,259","42,556","51,740","60,550","67,505","75,125","79,598","83,501","68,895","37,456","45,973","52,564","63,368","71,107","78,718","86,682","89,401","74,362","33,175","46,494","53,600","61,655","69,081","74,696","81,712","85,241","72,142","42,740","48,844","56,546","63,468","70,720","74,713","81,497","87,686","74,107",NaN,"51,384","57,554","63,194","71,049","74,476","83,412","93,801","76,008","33,627","51,170","55,400","60,915","70,077","73,399","83,122","100,276","77,167","51,800","51,784","53,812","63,750","77,160","82,745","94,088","113,230","87,969",NaN,"52,136","63,430","75,174","87,649","95,595","109,822","132,202","103,512",NaN,"49,620","58,756","75,503","86,843","89,871","99,119","115,701","96,924"
6,Umbi-umbian,3 302,3 226,3 596,3 010,3 598,4 111,5 157,6 505,3 886,18 214,3 858,3 835,3 172,3 877,4 471,5 985,8 619,4 570,8 884,4 678,3 503,4 009,5 017,5 971,7 545,11 177,5 135,"13,549","1,694","3,171","3,749","3,195","9,045","11,552","11,567","5,663","3,141","3,748","3,587","3,792","4,808","7,063","10,567","16,535","6,611","5,144","2,627","3,400","4,151","4,342","6,415","9,007","14,336","6,430","7,429","3,935","3,060","4,081","4,392","6,398","9,234","16,344","6,811","12,336","6,410","2,789","4,049","4,709","6,278","8,803","17,040","7,189","49,872","3,699","2,986","4,683","6,030","7,400","9,940","23,718","9,323","11,552","4,502","2,883","4,295","5,965","7,497","11,072","24,581","10,178","3,389","7,336","4,073","4,546","6,189","7,898","10,746","21,989","10,532",NaN,"8,385","4,765","3,493","5,550","8,124","10,454","20,175","10,338",NaN,"3,226","4,955","3,939","5,710","8,231","11,834","19,670","11,146"
7,Ikan,5 300,7 975,9 183,13 818,21 724,33 282,46 920,58 329,26 150,9 643,8 037,9 762,14 333,23 773,34 154,47 907,59 406,30 307,5 867,8 353,12 523,21 100,30 075,41 912,53 783,82 815,30 701,"10,944","7,668","11,711","18,019","29,613","40,912","52,776","77,118","31,313","3,778","8,939","11,825","19,393","32,375","44,290","58,362","83,559","37,402","7,621","8,907","12,048","18,872","31,058","43,916","56,783","82,640","39,246","8,647","9,159","12,918","19,229","31,062","44,160","57,720","83,335","40,898","5,167","11,503","13,679","19,264","29,733","43,340","56,710","83,698","42,156","12,765","9,151","13,144","19,772","30,992","45,993","63,626","93,355","47,505","10,743","9,082","14,308","20,647","31,049","47,111","64,995","100,266","51,512","6,824","8,645","14,360","20,036","29,784","45,099","63,464","99,480","53,679",NaN,"11,512","15,879","19,762","29,022","43,260","61,281","95,221","53,822",NaN,"14,040","15,086","20,270","30,165","44,172","62,718","97,214","57,426"
8,Daging,,169,1 096,2 354,5 599,11 667,19 919,29 372,8 621,,304,1 206,2 604,5 620,11 622,20 023,33 254,10 583,619,968,2 165,5 186,10 520,18 807,29 832,56 336,12 437,"2,194","1,288","2,481","5,292","10,638","17,979","29,321","52,337","13,774",197,"1,284","3,429","7,666","12,816","20,075","31,796","55,826","18,150","1,412","1,055","2,683","6,610","11,067","16,525","25,676","46,139","16,617","1,256","3,388","3,412","7,169","12,065","17,842","27,355","49,496","18,592","12,307","2,522","3,360","7,604","12,474","18,181","27,760","50,271","20,211","11,397","1,078","3,422","8,571","13,993","19,932","30,227","56,508","23,498",NaN,873,"3,533","9,032","15,459","21,351","32,218","63,832","27,243",NaN,"1,555","2,822","7,395","14,477","19,800","29,934","59,545","27,294",NaN,"1,348","1,392","7,724","14,001","19,763","30,342","59,265","28,622",NaN,78,"1,966","7,466","14,978","19,991","29,902","57,491","29,771"
9,Telur dan susu,263,1 451,3 159,5 834,10 517,18 207,28 216,41 766,14 168,,2 194,2 810,5 697,10 748,18 574,28 086,41 150,16 310,1 472,3 171,5 538,10 425,17 263,26 901,39 533,71 768,19 042,"2,131","3,833","5,776","9,939","17,229","25,139","36,414","63,478","19,835","2,379","3,439","6,122","11,036","16,951","24,241","34,815","54,692","21,435","1,600","2,954","6,605","11,081","16,491","24,079","34,309","56,398","23,174","3,074","3,310","6,418","11,680","17,096","24,027","34,482","54,761","24,093","1,657","3,389","7,370","11,990","17,663","24,231","34,942","55,052","25,761",NaN,"3,920","7,346","11,621","17,454","23,648","34,032","54,018","26,200","3,542","4,692","6,497","11,420","16,866","22,524","31,796","52,683","26,305",NaN,"3,337","5,946","10,335","16,581","22,081","31,824","54,408","28,086",NaN,149,"5,329","10,758","16,744","21,842","30,473","51,841","28,386",NaN,"1,470","5,264","11,420","17,514","22,340","31,574","53,030","30,457"

In [4]:
# Check data types and missing values
print("Data Info:")
print(df_raw.info())
print("\n" + "="*50)
print("\nFirst few column names:")
print(df_raw.columns[:20].tolist())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Columns: 118 entries, Rata?Rata Pengeluaran per Kapita Sebulan di Daerah Perdesaan Menurut Kelompok Barang dan Golongan Pengeluaran per Kapita Sebulan, 2013-2025 to Unnamed: 117
dtypes: object(118)
memory usage: 33.3+ KB
None

==================================================

First few column names:
['Rata?Rata Pengeluaran per Kapita Sebulan di Daerah Perdesaan Menurut Kelompok Barang dan Golongan Pengeluaran per Kapita Sebulan, 2013-2025', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19']

In [5]:
# Inspect first few rows to understand structure
print("Row 1 (Years):")
print(df_raw.iloc[1, :20].tolist())
print("\nRow 3 (Expenditure brackets):")
print(df_raw.iloc[3, :20].tolist())
print("\nRow 4 (Category - should be 'Makanan'):")
print(df_raw.iloc[4, 0])
print("\nRow 5 (First item - should be 'Padi-padian'):")
print(df_raw.iloc[5, 0])

Row 1 (Years):
['Kelompok Barang', '2013', nan, nan, nan, nan, nan, nan, nan, nan, '2014', nan, nan, nan, nan, nan, nan, nan, nan, '2015']

Row 3 (Expenditure brackets):
[nan, 'Kurang dari 100 000', '100 000- 149 999', '150 000- 199 999', '200 000- 299 999', '300 000- 499 999', '500 000- 749 999', '750 000- 999 999', '1 000 000 dan lebih', nan, 'Kurang dari 100 000', '100 000- 149 999', '150 000- 199 999', '200 000- 299 999', '300 000- 499 999', '500 000- 749 999', '750 000- 999 999', '1 000 000 dan lebih', nan, '< 150 000']

Row 4 (Category - should be 'Makanan'):
Makanan

Row 5 (First item - should be 'Padi-padian'):
Padi-padian

In [6]:
# Find which columns belong to which year
year_positions = {}
year_row = df_raw.iloc[1]  # Row with year info

current_year = None
for idx, val in enumerate(year_row):
    if pd.notna(val) and str(val).isdigit():
        current_year = int(val)
        if current_year not in year_positions:
            year_positions[current_year] = []
    if current_year is not None:
        year_positions[current_year].append(idx)

# Display year positions
for year in sorted(year_positions.keys()):
    print(f"{year}: {len(year_positions[year])} columns (cols {year_positions[year][0]}-{year_positions[year][-1]})")

2013: 9 columns (cols 1-9)
2014: 9 columns (cols 10-18)
2015: 9 columns (cols 19-27)
2016: 9 columns (cols 28-36)
2017: 9 columns (cols 37-45)
2018: 9 columns (cols 46-54)
2019: 9 columns (cols 55-63)
2020: 9 columns (cols 64-72)
2021: 9 columns (cols 73-81)
2022: 9 columns (cols 82-90)
2023: 9 columns (cols 91-99)
2024: 9 columns (cols 100-108)
2025: 9 columns (cols 109-117)

In [7]:
# Start from row 5 (actual data), skip row 4 ('Makanan' header)
# Column 0 is item names
df_clean = df_raw.iloc[5:].copy()
df_clean = df_clean.reset_index(drop=True)

# Keep only first column (item name) for now
df_clean = df_clean[[df_clean.columns[0]]]
df_clean.columns = ['item']

# Remove empty rows
df_clean = df_clean[df_clean['item'].notna() & (df_clean['item'] != '')]

# Remove summary rows
summary_keywords = ['Jumlah', 'Diolah dari', 'Sumber', 'Bukan Makanan']
df_clean = df_clean[~df_clean['item'].str.contains('|'.join(summary_keywords), case=False, na=False)]

print(f"Number of items extracted: {len(df_clean)}")
print("\nItem list:")
print(df_clean['item'].tolist())

Number of items extracted: 22

Item list:
['Padi-padian', 'Umbi-umbian', 'Ikan', 'Daging', 'Telur dan susu', 'Sayur-sayuran', 'Kacang-kacangan', 'Buah-buahan', 'Minyak dan lemak', 'Bahan minuman', 'Bumbu-bumbuan', 'Konsumsi lainnya', 'Makanan dan minuman jadi', 'Tembakau dan sirih', 'Perumahan, bahan bakar, penerangan, air', 'Barang dan jasa', 'Biaya pendidikan', 'Biaya kesehatan', 'Pakaian, alas kaki, dan tutup kepala', 'Barang yang tahan lama', 'Pajak pemakaian dan premi asuransi', 'Keperluan pesta dan upacara']

In [8]:
# Function to clean numeric values
def clean_numeric(val):
    if pd.isna(val) or val == '' or val == '�':
        return np.nan
    # Convert to string and clean
    val_str = str(val).strip()
    # Remove spaces
    val_str = val_str.replace(' ', '')
    # Handle comma as decimal separator
    if ',' in val_str:
        val_str = val_str.replace(',', '.')
    try:
        return float(val_str)
    except:
        return np.nan

# Extract data for each year
data_list = []

for year in sorted(year_positions.keys()):
    cols = year_positions[year]
    # Get expenditure brackets from row 3
    brackets = df_raw.iloc[3, cols].tolist()
    
    # Get data rows (starting from row 5)
    for idx, row_idx in enumerate(range(5, len(df_raw))):
        item = df_raw.iloc[row_idx, 0]
        
        # Skip if not valid item
        if pd.isna(item) or item == '' or any(kw in str(item) for kw in ['Jumlah', 'Diolah', 'Sumber', 'Bukan Makanan', 'Makanan']):
            continue
        
        # Extract values for this year
        values = df_raw.iloc[row_idx, cols].tolist()
        
        # Match brackets with values
        for bracket, value in zip(brackets, values):
            if pd.notna(bracket) and bracket != '':
                cleaned_value = clean_numeric(value)
                if pd.notna(cleaned_value):
                    data_list.append({
                        'year': year,
                        'item': item,
                        'expenditure_bracket': str(bracket),
                        'value': cleaned_value
                    })

# Create DataFrame
df_long = pd.DataFrame(data_list)

print(f"Total records extracted: {len(df_long)}")
print(f"\nYears: {sorted(df_long['year'].unique())}")
print(f"Number of years: {df_long['year'].nunique()}")
print(f"\nUnique items: {df_long['item'].nunique()}")
print(df_long['item'].unique()[:10])
print(f"\nUnique brackets: {df_long['expenditure_bracket'].nunique()}")
print(f"\nSample data:")
df_long.head(10)

Total records extracted: 2113

Years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024), np.int64(2025)]
Number of years: 13

Unique items: 21
['Padi-padian' 'Umbi-umbian' 'Ikan' 'Daging' 'Telur dan susu'
 'Sayur-sayuran' 'Kacang-kacangan' 'Buah-buahan' 'Minyak dan lemak'
 'Bahan minuman']

Unique brackets: 11

Sample data:

   year         item  expenditure_bracket    value
0  2013  Padi-padian  Kurang dari 100 000  29722.0
1  2013  Padi-padian     100 000- 149 999  43372.0
2  2013  Padi-padian     150 000- 199 999  47289.0
3  2013  Padi-padian     200 000- 299 999  52588.0
4  2013  Padi-padian     300 000- 499 999  59869.0
5  2013  Padi-padian     500 000- 749 999  70880.0
6  2013  Padi-padian     750 000- 999 999  77894.0
7  2013  Padi-padian  1 000 000 dan lebih  77337.0
8  2013  Umbi-umbian  Kurang dari 100 000   3302.0
9  2013  Umbi-umbian     100 000- 149 999   3226.0

In [9]:
# Check data quality
print("Data Quality Check:")
print("="*50)
print(f"Total records: {len(df_long)}")
print(f"Missing values: {df_long['value'].isna().sum()}")
print(f"Duplicate records: {df_long.duplicated().sum()}")
print("\nValue statistics:")
print(df_long['value'].describe())
print("\nRecords per year:")
print(df_long.groupby('year').size())

Data Quality Check:
==================================================
Total records: 2113
Missing values: 0
Duplicate records: 0

Value statistics:
count      2113.000000
mean       6087.148051
std       26126.608182
min           1.055000
25%           9.151000
50%          26.209000
75%         337.000000
max      609557.000000
Name: value, dtype: float64

Records per year:
year
2013    166
2014    158
2015    168
2016    168
2017    168
2018    168
2019    168
2020    167
2021    162
2022    165
2023    161
2024    147
2025    147
dtype: int64

In [12]:
print("=== DATA QUALITY REPORT ===\n")
print(f"Shape: {df_long.shape}")
print(f"Missing values: {df_long.isnull().sum().sum()}")
print(f"Duplicate rows: {df_long.duplicated().sum()}")
print(f"\nValue statistics:")
print(df_long['value'].describe())
print(f"\nZero or negative values: {(df_long['value'] <= 0).sum()}")

# CHECKPOINT:
# - No missing values in year, item, bracket (value might have some)
# - Min value should be positive (>0)
# - Max value reasonable (<500,000)

=== DATA QUALITY REPORT ===

Shape: (2113, 4)
Missing values: 0
Duplicate rows: 0

Value statistics:
count      2113.000000
mean       6087.148051
std       26126.608182
min           1.055000
25%           9.151000
50%          26.209000
75%         337.000000
max      609557.000000
Name: value, dtype: float64

Zero or negative values: 0

In [13]:
# Categorize food vs non-food
food_items = [
    'Padi-padian', 'Umbi-umbian', 'Ikan', 'Daging', 'Telur dan susu',
    'Sayur-sayuran', 'Kacang-kacangan', 'Buah-buahan', 'Minyak dan lemak',
    'Bahan minuman', 'Bumbu-bumbuan', 'Konsumsi lainnya', 'Makanan dan minuman jadi',
    'Tembakau dan sirih'
]

df_long['category'] = df_long['item'].apply(
    lambda x: 'Food' if any(food in x for food in food_items) else 'Non-Food'
)

print("=== ITEM CATEGORIZATION ===\n")
print(df_long.groupby('category')['item'].nunique())
print("\nFood items:")
print(df_long[df_long['category']=='Food']['item'].unique())
print("\nNon-Food items:")
print(df_long[df_long['category']=='Non-Food']['item'].unique())

# ✅ CHECKPOINT: Food items ~13-14, Non-Food items ~7-8

=== ITEM CATEGORIZATION ===

category
Food        13
Non-Food     8
Name: item, dtype: int64

Food items:
['Padi-padian' 'Umbi-umbian' 'Ikan' 'Daging' 'Telur dan susu'
 'Sayur-sayuran' 'Kacang-kacangan' 'Buah-buahan' 'Minyak dan lemak'
 'Bahan minuman' 'Bumbu-bumbuan' 'Konsumsi lainnya' 'Tembakau dan sirih']

Non-Food items:
['Perumahan, bahan bakar, penerangan, air' 'Barang dan jasa'
 'Biaya pendidikan' 'Biaya kesehatan'
 'Pakaian, alas kaki, dan tutup kepala' 'Barang yang tahan lama'
 'Pajak pemakaian dan premi asuransi' 'Keperluan pesta dan upacara']

In [ ]:
# Standardize bracket names
def standardize_bracket(bracket):
    """Standardize expenditure bracket names"""
    bracket = str(bracket).strip()
    # Remove extra spaces
    bracket = ' '.join(bracket.split())
    return bracket

df_long['expenditure_bracket'] = df_long['expenditure_bracket'].apply(standardize_bracket)

print("=== EXPENDITURE BRACKETS ===\n")
print("Unique brackets:")
for bracket in sorted(df_long['expenditure_bracket'].unique()):
    count = (df_long['expenditure_bracket'] == bracket).sum()
    print(f"  {bracket}: {count:,} records")

# CHECKPOINT: Should have 8-9 distinct brackets with clean names

=== EXPENDITURE BRACKETS ===

Unique brackets:
  1 000 000 dan lebih: 42 records
  1 000 000- 1 499 999: 231 records
  100 000- 149 999: 42 records
  150 000- 199 999: 273 records
  200 000- 299 999: 273 records
  300 000- 499 999: 273 records
  500 000- 749 999: 273 records
  750 000- 999 999: 273 records
  < 150 000: 172 records
  > 1 500 000: 231 records
  Kurang dari 100 000: 30 records

In [ ]:
# Create bracket order for sorting
bracket_order_map = {
    'Kurang dari 100 000': 1,
    '100 000- 149 999': 2,
    '150 000- 199 999': 3,
    '< 150 000': 3,
    '200 000- 299 999': 4,
    '300 000- 499 999': 5,
    '500 000- 749 999': 6,
    '750 000- 999 999': 7,
    '1 000 000- 1 499 999': 8,
    '1 000 000 dan lebih': 8,
    '> 1 500 000': 9
}

df_long['bracket_order'] = df_long['expenditure_bracket'].map(bracket_order_map)

# Fill missing with median
df_long['bracket_order'] = df_long['bracket_order'].fillna(df_long['bracket_order'].median())

print("=== BRACKET ORDERING ===\n")
print(df_long[['expenditure_bracket', 'bracket_order']].drop_duplicates().sort_values('bracket_order'))

# CHECKPOINT: All brackets should have order 1-9

=== BRACKET ORDERING ===

      expenditure_bracket  bracket_order
0     Kurang dari 100 000              1
1        100 000- 149 999              2
2        150 000- 199 999              3
324             < 150 000              3
3        200 000- 299 999              4
4        300 000- 499 999              5
5        500 000- 749 999              6
6        750 000- 999 999              7
7     1 000 000 dan lebih              8
330  1 000 000- 1 499 999              8
331           > 1 500 000              9

In [ ]:
print("=== FINAL CLEANED DATA ===\n")
print(f"Shape: {df_long.shape}")
print(f"Columns: {df_long.columns.tolist()}")
print(f"\nData types:")
print(df_long.dtypes)
print(f"\nSample data:")
print(df_long.sample(10))

# CHECKPOINT: Should have columns: year, item, expenditure_bracket, value, category, bracket_order

=== FINAL CLEANED DATA ===

Shape: (2113, 6)
Columns: ['year', 'item', 'expenditure_bracket', 'value', 'category', 'bracket_order']

Data types:
year                     int64
item                    object
expenditure_bracket     object
value                  float64
category                object
bracket_order            int64
dtype: object

Sample data:
      year                                  item expenditure_bracket  \
670   2017                           Umbi-umbian    200 000- 299 999
1575  2022                         Bumbu-bumbuan    500 000- 749 999
1634  2022  Pakaian, alas kaki, dan tutup kepala         > 1 500 000
2088  2025  Pakaian, alas kaki, dan tutup kepala    500 000- 749 999
611   2016                       Barang dan jasa         > 1 500 000
146   2013                Barang yang tahan lama    200 000- 299 999
91    2013                      Konsumsi lainnya    300 000- 499 999
1692  2023                        Telur dan susu    500 000- 749 999
1041  2019                         Sayur-sayuran    750 000- 999 999
1040  2019                         Sayur-sayuran    500 000- 749 999

         value  category  bracket_order
670      3.587      Food              4
1575     9.354      Food              6
1634    60.122  Non-Food              9
2088    13.427  Non-Food              6
611    164.403  Non-Food              9
146   1510.000  Non-Food              4
91    5391.000      Food              5
1692    16.581      Food              6
1041    40.122      Food              7
1040    31.562      Food              6

In [17]:
# Save to CSV
df_long.to_csv('../data/cleaned_data_long.csv', index=False)
print(" Data saved to: data/cleaned_data_long.csv")
print(f"   Records: {len(df_long):,}")
print(f"   Size: {df_long.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

# CHECKPOINT: File should be created in data/ folder

 Data saved to: data/cleaned_data_long.csv
   Records: 2,113
   Size: 0.42 MB

In [18]:
print("=== DATA CLEANING COMPLETE ===\n")
print(f" Total records: {len(df_long):,}")
print(f" Time period: {df_long['year'].min()}-{df_long['year'].max()} ({df_long['year'].nunique()} years)")
print(f" Items: {df_long['item'].nunique()}")
print(f"   - Food: {df_long[df_long['category']=='Food']['item'].nunique()}")
print(f"   - Non-Food: {df_long[df_long['category']=='Non-Food']['item'].nunique()}")
print(f" Expenditure brackets: {df_long['expenditure_bracket'].nunique()}")
print(f" Value range: {df_long['value'].min():,.0f} - {df_long['value'].max():,.0f}")
print(f"\n Ready for feature engineering!")

=== DATA CLEANING COMPLETE ===

 Total records: 2,113
 Time period: 2013-2025 (13 years)
 Items: 21
   - Food: 13
   - Non-Food: 8
 Expenditure brackets: 11
 Value range: 1 - 609,557

 Ready for feature engineering!